<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>支店住所取得フォーム</title>
</head>

<body>
        <form method="post" action="/get_address">
                <input type="text" name="msg">
                <input type="submit" value="支店名を入力">
        </form>
</body>

</html>